<a href="https://colab.research.google.com/github/ChrisTheDragon/Tensorflow-federated-neural-network/blob/main/Aprendizado_com_Intel_Lab_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install --quiet tensorflow-federated

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 68.3/68.3 MB 10.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.6/60.6 kB 7.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.5/103.5 kB 11.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.7/98.7 kB 10.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 558.5/558.5 kB 26.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.0/72.0 MB 8.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 50.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 48.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 255.8/255.8 kB 20.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 238.9/238.9 kB 19.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 359.4/359.4 kB 30.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.7/126.7 kB 12.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 532.6/532.6 kB 25.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 39.9/39.9 MB 8.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 30.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 72.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.4/7.4 MB 68.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 51.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 62.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 146.0/146.0 kB 16.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 kB 4.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.7/5.7 MB 101.6 MB/s eta 0:00:00
  Building wheel for farmhashpy (setup.py) ... done
  Building wheel for jax (setup.py) ... done
  Building wheel for sqlalchemy (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
arviz 0.15.1 requires scipy>=1.8.0, but you have scipy 1.7.3 which is incompatible.
chex 0.1.7 requires jax>=0.4.6, but you have jax 0.3.15 which is incompatible.
flax 0.6.9 requires jax>=0.4.2, but you have jax 0.3.15 which is incompatible.
google-colab 1.0.0 requires portpicker==1.3.9, but you have portpicker 1.5.2 which is incompatible.
orbax-checkpoint 0.2.1 requires jax>=0.4.8, but you have jax 0.3.15 which is incompatible.
pymc 5.1.2 requires cachetools>=4.2.1, but you have cachetools 3.1.1 which is incompatible.

Teste

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Gercom/data.txt', sep=' ', header=0)
dataset.columns = ['data', 'hora', 'epoch', 'moteid', 'temperatura', 'umidade', 'luz', 'tensão']

In [9]:
dataset

,data,hora,epoch,moteid,temperatura,umidade,luz,tensão
0,2004-02-28,00:59:16.02785,3,1.0,19.9884,37.0933,45.08,2.69964
1,2004-02-28,01:03:16.33393,11,1.0,19.3024,38.4629,45.08,2.68742
2,2004-02-28,01:06:16.013453,17,1.0,19.1652,38.8039,45.08,2.68742
3,2004-02-28,01:06:46.778088,18,1.0,19.1750,38.8379,45.08,2.69964
4,2004-02-28,01:08:45.992524,22,1.0,19.1456,38.9401,45.08,2.68742
...,...,...,...,...,...,...,...,...
2313676,2004-04-02,01:14:54.164318,61274,NaN,NaN,NaN,NaN,NaN
2313677,2004-04-02,01:17:53.670524,61275,NaN,NaN,NaN,NaN,NaN
2313678,2004-04-02,01:20:52.807972,61276,NaN,NaN,NaN,NaN,NaN
2313679,2004-04-02,01:26:53.950342,61278,NaN,NaN,NaN,NaN,NaN
2313680,2004-04-02,01:35:53.897412,61280,NaN,NaN,NaN,NaN,NaN

In [10]:
train, test = train_test_split(dataset, test_size=0.33)

In [11]:
train

,data,hora,epoch,moteid,temperatura,umidade,luz,tensão
647188,2004-03-14,08:20:17.793539,44084,19.0,23.5850,37.23070,772.80,2.47467
1946507,2004-03-02,09:16:05.573215,9636,46.0,27.6618,26.96790,397.44,2.52732
1276675,2004-03-27,05:17:39.460476,44683,31.0,122.1530,-3.91901,158.24,2.18353
1396268,2004-03-11,18:15:28.393413,36635,34.0,22.4972,38.87200,93.84,2.52732
1245103,2004-03-04,15:55:29.270905,16195,31.0,25.4568,30.74860,625.60,2.69964
...,...,...,...,...,...,...,...,...
821831,2004-03-05,20:47:01.280181,19658,23.0,22.2032,38.80390,202.40,2.62796
1667050,2004-03-01,07:12:07.021029,6508,40.0,20.6450,39.68780,143.52,2.67532
932932,2004-03-02,10:04:54.670028,9731,25.0,32.6010,20.77310,1847.36,2.78836
547098,2004-03-20,02:23:50.314825,60651,16.0,122.1530,-3.91901,64.40,2.18353
1869034,2004-03-13,23:15:48.555324,42995,44.0,21.4878,42.51780,0.92,2.52732